[submodule "src/shared/vuelib/json"]
path = src/shared/vuelib/json
url = https://github.com/valerino/json
branch = develop
[submodule "src/shared/vuelib/tinydir"]
	path = src/shared/vuelib/tinydir
	url = https://github.com/valerino/tinydir
